{% extends "admin/base_admin.html" %}
{% load static %}
{% block title %}Lista de los servicios{% endblock %}

{% block content %}

<!-- Services ================================================== -->
    <div class="container px-4 py-5" id="featured-3">
        <a name="" id="" class="btn btn-success" href="{% url 'create-service' %}" role="button">Agregar Nuevo</a>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
            {% for service in services %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{service.title}}</h5>
                    <p class="card-text">{{service.description}}</p>
                    <p class="card-text">{{service.icon}}</p>
                    <a href="{% url 'edit-service' service.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'delete-service' service.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}