{% extends "admin/base_admin.html" %}
{% load static %}
{% block title %}Lista de Informacion{% endblock %}

{% block content %}

<!-- About================================================== -->
    <div class="container px-4 py-5" id="featured-3">
        <a name="" id="" class="btn btn-success" href="{% url 'create-about' %}" role="button">Agregar Nuevo</a>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
            {% for about in abouts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{about.title}}</h5>
                    <p class="card-text">{{about.description}}</p>
                    <a href="{% url 'edit-about' about.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'delete-about' about.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}