{% extends 'admin/base_admin.html' %}

{% block title %}Administracion{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Bienvenido al Panel de administacion!!</h1>
        <p class="col-md-8 fs-4">Este es el panel de administracion donde podras añadir mas informacion a tu pagina Web.
        </p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>



<!-- About================================================== -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Acerca de Nuestra empresa</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for about in abouts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{about.title}}</h5>
                <p class="card-text">{{about.description}}</p>
                <a href="{% url 'edit-about' about.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete-about' about.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<!-- services
    ================================================== -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Servicios que ofrecemos</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for service in services %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{service.title}}</h5>
                <p class="card-text">{{service.description}}</p>
                <p class="card-text">{{service.icon}}</p>
                <a href="{% url 'edit-service' service.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete-service' service.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Portfolio ================================================== -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Portafolio de la empresa</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for portfolio in portfolios %}
        <div class="card" style="width: 18rem;">
            {% if portfolio.image %}
            <img src="{{ portfolio.image.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="" style="height: 50px; width: 50px;" alt="no imagen">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{portfolio.title}}</h5>
                <p class="card-text">{{portfolio.description}}</p>
                <a href="{% url 'edit-portfolio' portfolio.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete-portfolio' portfolio.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}