{% extends 'layouts/base.html' %}

{% block content %}

<section id="about" class="s-about target-section">

    <div class="row wide about-desc" data-aos="fade-up">

        <div class="col-full slick-slider about-desc__slider">

            {% for about in abouts %}
            <div class="about-desc__slide">
                <h3 class="item-title">{{about.title}}</h3>
                <p>
                    {{about.description}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>


</section>


<!-- services
    ================================================== -->
<section id="services" class="s-features target-section">


    <div class="row features block-1-3 block-m-1-2">


        {% for service in services %}
        <div class="col-block item-feature" data-aos="fade-up">
            <div class="item-feature__icon">
                <i class="icon-layers"></i>
            </div>
            <div class="item-feature__text">
                <h3 class="item-title">{{service.title}}</h3>
                <p>{{service.description}}
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

<!-- Portfolio
    ================================================== -->
<section id="portfolio" class="s-about target-section">


    <div class="row features block-1-3 block-m-1-2">


        {% for portfolio in portfolios %}
        <div class="col-block item-feature" data-aos="fade-up">
            <div class="item-feature__icon">
                <i class="icon-layers"></i>
            </div>
            <div class="item-feature__text">
                <!-- <h3 class="item-title">Desarrollo Web y Móvil</h3> -->
                <h3 class="item-title">{{portfolio.title}}</h3>
                <!-- <p>creación y construcción de sitios web y aplicaciones web utilizando lenguajes de programación y
                    tecnologías especializadas, con el objetivo de ofrecer una experiencia de usuario efectiva y cumplir
                    con los objetivos del cliente.
                </p> -->
                <p>{{portfolio.description}}
                </p>
                {% if portfolio.image %}
                <td scope="row"><img src="{{ portfolio.image.url }}" style="height: 50px; width: 50px;" alt="..."></td>
                <td>{{portfolio.image.url}}</td>
                {% else %}
                <td scope="row"><img src="" style="height: 50px; width: 50px;" alt="no imagen"></td>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}