{% extends "admin/base_admin.html" %}
{% load static %}
{% block title %}Lista de Proyectos{% endblock %}

{% block content %}


<!-- Portfolio
    ================================================== -->
<div class="container px-4 py-5" id="featured-3">
    <a name="" id="" class="btn btn-success" href="{% url 'create-portfolio' %}" role="button">Agregar Nuevo</a>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for portfolio in portfolios %}
        <div class="card" style="width: 18rem;">
            {% if portfolio.image %}
            <img src="{{ portfolio.image.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="" style="height: 50px; width: 50px;" alt="no imagen">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{portfolio.title}}</h5>
                <p class="card-text">{{portfolio.description}}</p>
                <a href="{% url 'edit-portfolio' portfolio.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete-portfolio' portfolio.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}