{% load static %}
{% block contacto %}
<!-- footer================================================= -->
<footer id="contact" class="s-footer footer target-section">

    <div class="row section-header align-center">
        <div class="col-full">
            <h1 class="display-1">
                Mantente en contacto...
            </h1>
            <p class="lead">
                Suscríbete para recibir actualizaciones, ofertas especiales y otras cosas increíbles.
            </p>
        </div>
    </div> <!-- end section-header -->

    <div class="row footer__top">

        <div class="col-full footer__subscribe end">
            <div class="subscribe-form">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>
                        Save
                    </button>
                </form>
            </div>
        </div>

    </div> <!-- end footer__top -->

    <div class="row footer__bottom">

        <div class="footer__about col-five tab-full left">

            <h4>About AndSoft.</h4>

            <p>
                El objetivo de nuestra empresa de desarrollo de software es proporcionar soluciones
                tecnológicas
                personalizadas,
                innovadoras y de calidad que satisfagan las necesidades del cliente,
                cumplan con los plazos y presupuestos establecidos, y generen satisfacción a largo plazo.
            </p>

            <ul class="footer__social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="col-five md-seven tab-full right end">
            <div class="row">

                <div class="footer__site-links col-five mob-full">
                    <h4>Links del sitio</h4>

                    <ul class="footer__site-links">
                        <li><a href="#home" class="smoothscroll">Principal</a></li>
                        <li><a href="#about" class="smoothscroll">Nosostros</a></li>
                        <li><a href="#services" class="smoothscroll">Servicios</a></li>
                        <li><a href="#portfolio" class="smoothscroll">Portafolio</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="footer__contact col-seven mob-full">
                    <h4>Contact Us.</h4>

                    <p>
                        Phone: (+591) 713 90665 <br>
                        Fax: (+63) 555 0100
                    </p>
                    <p>
                        ¿Necesitas ayuda o tienes una pregunta? Contactanos: <br>
                        <a href="mailto:#0" class="footer__mail-link">kcandres21@gmail.com</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-full ss-copyright">
            <span>&copy; Copyright AndSoft 2023</span>
            <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>
        </div>

    </div> <!-- end footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer> 
<!-- end s-footer -->
{% endblock %}